<!--//https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/-->
<mat-toolbar id="topbar" [class.topbar-chnage]="header_variable"  class="mat-elevation-z6 ">
  <div fxLayout.xs="column" fxLayout="row center" fxFlexFill>
    <div fxFlex="none" >
          <button mat-icon-button (click)="generalService.toggledSideBar()">
            <mat-icon>menu</mat-icon>
          </button>
    </div>
    <div fxFlex fxFlexOffset="15" fxLayout="row"  fxLayoutAlign="start center" class="contact">
      <div><i class="fa fa-envelope" aria-hidden="true"></i><a href="#" class="email"> Kunjad@timemanagementgroup.in</a></div>
      <div><i class="fa fa-phone" aria-hidden="true"></i><a href="#" class="email">9230889052</a></div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-evenly center" class="social">
      <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
<!--    <div fxFlex fx-layout-align="end">-->
<!--            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
<!--    </div>-->
  </div>
</mat-toolbar>

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.php" class="logo"><img src="assets/img/logo/logo.png" alt=""></a>
    <h2 class="logo text-left"><a href="index.php">Time Management Group</a></h2>
    <div ngbDropdown class="">
      <button class="btn" id="dropdownBasic2"  ngbDropdownToggle>My Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >Customer</button>
      <button mat-menu-item >Product</button>
    </mat-menu>

    <!--for huge menus-->
    <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
    <!--for huge menus-->


    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.php">Home</a></li>
        <li class="drop-down"><a href="#">About Us</a>
          <ul>
            <li class="drop-down"><a href="#">The Company</a>
              <ul>
                <li><a href="company_profile.php">Company's Profile</a></li>
                <li><a href="mission_vision.php">Mission and Vision</a></li>
              </ul>
            </li>
            <li><a href="infrastructure.php">Infrastructure</a></li>
            <li><a href="network.php">Network</a></li>
            <li><a href="why_us.php">Why Us!!</a></li>
            <li><a href="clientele.php">Clientele</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="#">Services</a>
          <ul>
            <li><a href="logistics.php">Logistics</a></li>
            <li><a href="warehousing.php">Warehousing</a></li>
            <li><a href="courier.php">Courier</a></li>
            <li><a href="ecommerce.php">Ecommerce</a></li>
          </ul>
        </li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

