
.logo{
  padding: 0px 5px;
  font-size: 20px;
}
.MyActiveMenu{
  background-color: #cdd20c;
  color: black;
}

mat-toolbar{
  background-color: #1673e8;
  height: auto !important;
  min-height: auto !important;
}
mat-toolbar .contact{
  color: #f2f2f2;
}
mat-toolbar .social a{
  margin-right: 10px;
  color: #f2f2f2;
}
mat-toolbar .contact .email{
  font-family: Perpetua;
  color: #f2f2f2;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 25px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

#header .logo {
  font-size: 33px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
  /*color: #106eea;*/
}

#header .logo a {
  color: #c50808;
}

#header .logo img {
  max-height: 65px;
}

@media (max-width: 992px) {
  #header {
    padding: 2px;
    top: 0;
  }
  #header .logo {
    font-size: 23px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
nav.nav-menu{
  position: absolute;
  right: 8%;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #222222;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #106eea;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062b5b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #106eea;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9999;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #106eea;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}





/*.carousel-item {
height: 100vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/
@media(min-width:1200px){
  .home-slider{
    margin-top: 10%;
  }
  .carousel-inner img {
    width: 100%;
    height: 450px;
  }
}
@media(min-width:992px) and (max-width:1199px){
  .home-slider{
    margin-top: 12%;
  }
  .carousel-inner img {
    width: 100%;
    height: 450px;
  }
}
@media(min-width:768px) and (max-width:991px){
  .home-slider{
    margin-top: 6%;
  }
  .carousel-inner img {
    width: 100%;
    height: 350px;
  }
}
@media(min-width:560px) and (max-width:767px){
  .home-slider{
    margin-top: 8%;
  }
  .carousel-inner img {
    width: 100%;
    height: 300px;
  }
}
@media(max-width:559px){
  .home-slider{
    margin-top: 12%;
  }
  .carousel-inner img {
    width: 100%;
    height: 250px;
  }
}

.sections-wrapper {
  background: #FFF;
  z-index: 20;
  position: relative;
}
.form-section {
  background-color: #04336b;
  padding: 50px;
  overflow: hidden;
  color: #FFF;
}
.form-section h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.form-section .form-post {
  margin: 0;
  padding: 0;
}

.about-section {
  background-color: #1e72ba;
  width: 100%;
  /*height: 410px;
  float: left;*/
}
.mover-man-img {
  z-index: 999;
}
.mover-man-img img {
  position: relative;
  top: -144px;
  z-index: 990;
  left: 0px;
  margin-bottom: -35%;
}
.about-section .content-col {
  padding: 80px 20px;
}
.about-section .content-col h1 {
  margin: 0 0 25px 0;
  padding: 0;
  color: #000;
  text-align: left;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #FFF;
  /*line-height: 22px;*/
  text-transform: uppercase;
}
.about-section .content-col p {
  color: #FFF;
}
.theme-btn-orng {
  color: #FFF;
  background-color: #f77b55;
  border-radius: 4px;
  font-size: 14px !important;
  font-weight: bold;
  margin-top: 10px;
  float: left;
  letter-spacing: 0.3px;
}
.theme-btn-orng:hover{
  background-color: #000000;
  color: #ffffff;
}


.our_features_area {
  padding: 65px 0px;
}
.our_features_area .sec_middle_title {
  padding-bottom: 25px;
}
.sec_middle_title h2 {
  font-size: 30px;
  color: #242424;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .90px;
  padding-bottom: 20px;
  text-align: center;
}
.sec_middle_title h2::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.sec_middle_title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
.our_features_inner .our_features_item{
  margin-top: 10px;
}
.our_features_item .ctn_bx {
  box-shadow: 0px 4px 16px 0px rgba(204,204,204,1);
  padding: 20px;
}
.our_features_item .ctn_bx h4 {
  font-size: 18px;
  line-height: 26px;
  color: #242424;
  font-weight: bold;
  letter-spacing: .36px;
  padding: 20px 0px 15px 0px;
}
.our_features_item .ctn_bx p {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .30px;
  padding-bottom: 20px;
}
.theme-btn {
  color: #FFF;
  background-color: #f4a654;
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.btn-md {
  padding: 11px 20px;
  display: inline-block;
}
.theme-btn:hover{
  background-color: #000000;
  color: #ffffff;
}

.opportunities_update_area {
  padding: 65px 0px;
  background-color: #f6f6f6;
}
.opportunities_update .opportunities_update_item{
  margin-top: 10px;
}
/*.opportunities_update_item .ctn_bx {
    box-shadow: 0px 4px 16px 0px rgba(204,204,204,1);
    padding: 20px;
}*/
.opportunities_update_item .ctn_bx h4 {
  font-size: 18px;
  line-height: 26px;
  color: #242424;
  font-weight: bold;
  letter-spacing: .36px;
  padding: 20px 0px 15px 0px;
}
.opportunities_update_item .ctn_bx p {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .30px;
  padding-bottom: 20px;
}
.opportunities_update_item .ctn_bx ul li a{
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #e32222;
}


#btm-call {
  background: #1d72c9;
  z-index: 1;
  padding: 0;
  position: relative;
}
#btm-call:before {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  background-color: #1d72c9;
  top: 0;
  left: 0;
  z-index: 2;
}
#btm-call:after {
  content: '';
  width: 40%;
  height: 100%;
  position: absolute;
  background: #000;
  top: 0;
  right: 0;
  z-index: -1;
  padding-left: 100px;
}
#btm-call .container {
  position: relative;
  z-index: 9999;
}
#btm-call .left-side {
  width: 760px;
  height: 231px;
  float: left;
  background: url("~src/assets/img/curve.gif") no-repeat right;
}
#bottom-call{
  height: 192px;
  background-color: #1d72c9;
  margin-top: 100px;
}
#btm-call .text-bx {
  width: 55%;
  padding-top: 35px;
}
#btm-call .text-bx h2 {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  font-style: italic;
  text-transform: capitalize;
  color: #FFF;
  text-align: left;
  letter-spacing: 1spx;
  font-family: "PT Serif",serif;
}
#btm-call .text-bx h3 {
  margin: 0;
  padding: 20px 20px 20px 0;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  color: #FFF;
  text-align: left;
  float: left;
  letter-spacing: 1px;
  font-family: 'Playball';
}
#btm-call .phone-num {
  float: right;
  top: 83px;
  right: 70px;
  position: absolute;
  right: 0;
  width: 40%;
}
#btm-call .phone-icon {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #FFF;
  text-align: center;
  line-height: 65px;
  border: 5px solid #1d72c9;
}
#btm-call .phone-num h2 {
  margin: 0;
  padding: 37px 0 20px 0;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
  font-style: normal;
  letter-spacing: 1px;
  font-family: "Roboto Slab",serif;
}
#btm-call .mover-img img {
  position: absolute;
  max-width: 100%;
  top: -45px;
}
#btm-call .img-btm-curve {
  height: 4px;
  top: 190px;
  float: left;
  position: absolute;
  right: 8px;
}
@media only screen and (max-width: 1199px) {
  #btm-call .phone-num {
    float: right;
    top: 83px;
    right: 70px;
    position: absolute;
    right: 0;
    width: 40%;
  }
  #btm-call .text-bx h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
  }
  #btm-call .text-bx h3 {
    margin: 0;
    padding: 0px 20px 20px 0;
  }
  #btm-call .phone-icon {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
    line-height: 47px;
    border: 5px solid #1d72c9;
  }
  #btm-call .phone-num h2 {
    margin: 0;
    padding: 16px 0 20px 0;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFF;
    font-style: normal;
    letter-spacing: 1px;
    font-family: "Roboto Slab",serif;
  }
  #btm-call .phone-icon img{
    width: 26px;
  }
  #btm-call .mover-img img {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  #btm-call .img-btm-curve {
    height: 4px;
    top: 216px;
    float: left;
    position: absolute;
    right: 26px;
  }
}
@media only screen and (max-width: 1024px) {
  #btm-call .phone-num {
    float: none;
    right: 0px;
    position: static;
    right: 0;
    width: 88%;
  }
  #btm-call .text-bx h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
  }
  #btm-call .text-bx h3 {
    margin: 0;
    padding: 0px 20px 20px 0;
  }
  #btm-call .phone-icon {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
    line-height: 47px;
    border: 5px solid #1d72c9;
  }
  #btm-call .phone-num h2 {
    margin: 0;
    padding: 60px 0 20px 0;
    font-size: 30px;
  }
  #btm-call .phone-icon img{
    width: 26px;
  }
  #btm-call .mover-img img {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  #btm-call .img-btm-curve {
    height: 4px;
    top: 216px;
    float: left;
    position: absolute;
    right: 26px;
  }
}
@media only screen and (max-width: 992px) {
  #btm-call {
    background: #1d72c9;
    z-index: 1;
    padding: 0;
    position: relative;
    padding: 0 0 50px 0;
  }
  #btm-call::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1d72c9;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #btm-call .left-side {
    width: 100%;
    height: 100%;
    background: transparent;
  }
  #btm-call .text-bx {
    width: 100%;
    padding-top: 35px;
  }
  #btm-call .phone-num {
    float: left !important;
    width: 100%;
    margin-top: 20px;
  }
  #btm-call .phone-num h2 {
    margin: 0;
    padding: 15px 0 20px 0 !important;
  }
  #btm-call .mover-img img {
    position: relative;
    top: 45px;
  }
  #btm-call .mover-img img {
    display: none;
  }
  #btm-call .img-btm-curve {
    display: none;
  }
}
@media only screen and (max-width: 768px){
  #btm-call {
    background: #1d72c9;
    z-index: 1;
    padding: 0;
    position: relative;
    padding: 0 0 50px 0;
  }
  #btm-call::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1d72c9;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #btm-call .left-side {
    width: 100%;
    height: 100%;
    background: transparent;
  }
  #btm-call .text-bx {
    width: 100%;
    padding-top: 35px;
  }
  #btm-call .phone-num {
    float: left !important;
    width: 100%;
    margin-top: 20px;
  }
  #btm-call .phone-num h2 {
    margin: 0;
    padding: 15px 0 20px 0 !important;
  }
  #btm-call .mover-img img {
    position: relative;
    top: 45px;
  }
  #btm-call .mover-img img {
    display: none;
  }
  #btm-call .img-btm-curve {
    display: none;
  }
}


.topbar-chnage{
  //position: fixed;
  background-color: #e8c50e;
  width: 100%;
  z-index: 1;
}
