<!--//https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/-->
<mat-toolbar id="topbar" [class.topbar-chnage]="header_variable"  class="mat-elevation-z6 ">
  <div fxLayout.xs="column" fxLayout="row center" fxFlexFill>
    <div fxFlex="none" >
          <button mat-icon-button (click)="generalService.toggledSideBar()">
            <mat-icon>menu</mat-icon>
          </button>
    </div>
    <div fxFlex fxFlexOffset="15" fxLayout="row"  fxLayoutAlign="start center" class="contact">
      <div><i class="fa fa-envelope" aria-hidden="true"></i><a href="#" class="email"> Kunjad@timemanagementgroup.in</a></div>
      <div><i class="fa fa-phone" aria-hidden="true"></i><a href="#" class="email">9230889052</a></div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-evenly center" class="social">
      <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
<!--    <div fxFlex fx-layout-align="end">-->
<!--            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
<!--    </div>-->
  </div>
</mat-toolbar>

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <!--<h1 class="logo mr-auto"><a href="index.html">BizLand<span>.</span></a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.php" class="logo"><img src="img/logo/logo.png" alt=""></a>
    <h2 class="logo text-left"><a href="index.php">Time Management Group</a></h2>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.php">Home</a></li>
        <li class="drop-down"><a href="#">About Us</a>
          <ul>
            <li class="drop-down"><a href="#">The Company</a>
              <ul>
                <li><a href="company_profile.php">Company's Profile</a></li>
                <li><a href="mission_vision.php">Mission and Vision</a></li>
              </ul>
            </li>
            <li><a href="infrastructure.php">Infrastructure</a></li>
            <li><a href="network.php">Network</a></li>
            <li><a href="why_us.php">Why Us!!</a></li>
            <li><a href="clientele.php">Clientele</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="#">Services</a>
          <ul>
            <li><a href="logistics.php">Logistics</a></li>
            <li><a href="warehousing.php">Warehousing</a></li>
            <li><a href="courier.php">Courier</a></li>
            <li><a href="ecommerce.php">Ecommerce</a></li>
          </ul>
        </li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

