<!--<div fxLayout="column" fxFlexFill>-->
<!--  <app-header [deviceXs]="deviceXs"></app-header>-->
<!--  <div fxLayout="column" fxFill>-->
<!--    <div fxFlex="column grow" style="margin: 0%">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <footer fxLayout="column">-->
<!--      <div fxLayout="row">-->
<!--        <hr fxFlex="100">-->
<!--      </div>-->
<!--      <p fxFlexAlign="center">Copy Right CODER</p>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->






<!--<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">-->
<!--  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center">-->
<!--      <app-header [deviceXs]="deviceXs"></app-header>-->
<!--  </div>-->
<!--  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center" style="margin-top: 70px">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->


<!--  <div fxFlex fxLayoutAlign="start end" class="bottom-div">-->
<!--    BOTTOM ELEMENT: This div is filled and text is aligned in the end-->
<!--  </div>-->
<!--</div>-->











<!--<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">-->
<!--  <app-header [deviceXs]="deviceXs" fxFlex="1" fxLayout="col" flexLayoutAlign="center center"></app-header>-->

<!--      <div fxFlex="column grow">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->


<!--  <div fxFlex fxLayoutAlign="start end" class="bottom-div">-->
<!--    <footer fxLayout="column">-->
<!--      <div fxLayout="row">-->
<!--        <hr fxFlex="100">-->
<!--      </div>-->
<!--      <p fxFlexAlign="center">Copy Right CODER</p>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->


<app-header></app-header>

<mat-sidenav-container class="main-sidenav-container" (backdropClick)="generalService.toggledSideBar()">
  <mat-sidenav [mode]="mode"
               [opened]="generalService.getSideBarOpen()"
               [fixedInViewport]="true"
               [fixedTopGap]="layoutGap">
    <button mat-button (click)="generalService.toggledSideBar()">
      Hello from Sidenav-Content
    </button>
  </mat-sidenav>

  <div class="div-scrollable">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
