
<div>
  <app-header></app-header>
    <mat-sidenav-container class="main-sidenav-container" (backdropClick)="generalService.toggledSideBar()">
    <mat-sidenav [mode]="mode"
                 [opened]="generalService.getSideBarOpen()"
                 [fixedInViewport]="true"
                 [fixedTopGap]="layoutGap">
      <button mat-button (click)="generalService.toggledSideBar()">
        Hello from Sidenav-Content
      </button>
    </mat-sidenav>

    <div class="div-scrollable">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
      <div detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200" >
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
        <div>Bla bla bla</div>
      </div>
</div>
